.menu_wrapper {
    display: flex;
    flex-direction: column;
}

.menu_click {
    width: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu_click img {
    cursor: pointer;
}

.user_img {
    background-color: white;
    border-radius: 100%;
}

.user_img_arrow.up {
    transform: rotate(180deg);
}

.login_field {
    position: absolute;
    top: 60px;
    right: 58px;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.login_menu {
    position: absolute;
    top: 65px;
    right: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    width: 134px;
    height: 60px;
    padding: 5px 8px;
}

.login_menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login_menu ul li {
    list-style: inside;
    list-style-type: none;
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.login_menu ul li a {
    text-decoration: none;
    color: black;
}

.login_menu ul li a:hover {
    text-decoration: none;
    color: grey;
}

.login_menu_open.active {
    opacity: 1;
    visibility: visible;
}

.login_menu_open.inactive {
    opacity: 0;
    visibility: hidden;
}